* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    counter-reset: card;
    display: flex;
}

.card {
    counter-increment: card__number;
}

.card__number::before {
    font-weight: bold;
    font-size: 30px;
    content: counter(card__number);
}

.card {
    width: 100px;
    height: 150px;
    background-color: red;
    padding: 10px;
    margin: 5px;
}

.card:nth-child(2) {
    background-color: yellow;
}

.card:nth-child(3) {
    background-color: green;
}

.card:nth-child(4) {
    background-color: blue;
}

.card:nth-child(5) {
    background-color: cadetblue;
}